@import "tailwindcss";

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#root {
  margin: 0 auto;
  width: 100%;
}